* {
	margin:0;
	padding:0;
}

body {
	background:#FFFFFA;
}

header {
	width:100%;
}

input[type=search] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 12px 10px 30px; 
}

.nav {
	width:90%;
	max-width:1000px;
	margin:20px auto;
	background:#ffffff;
}

.menu_bar {
	display:none;
}

.ul {
	overflow:hidden;
	list-style:none;
}

.li {
	float:left;
}

.a {
	color:#000;
	padding:20px;
	display:block;
	text-decoration:none;
}
.front {
	color:#000;
	padding:20px;
	display:block;
	text-decoration:none;
	z-index: 900;	
}

span {
	margin-right:10px;
}

.a:hover {
	background:#00C4BE;
}

section {
	padding:20px;
}

@media screen and (max-width:800px ) {
	.nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
		z-index: 1000;

	}

	.li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#52DD27;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar span {
		padding-right: 10; 
	}
}